

body {
    background-color:green;
    font-family: 'Poppins', sans serif;
    align-items: baseline;
}
* {
    overflow: auto;
}
#freshgarden{
    font-family: 'Inter', san serif;
    font-size: x-large;
    font-weight: 900;
}
#navbar {
    background-color:yellowgreen;
    position:fixed;
    top: 0%;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.navclass a{
    text-decoration: none;
}
#navbar a{
    text-decoration: ;
    color: white;
}

button {
    width: 15%;
    padding: 10px;
    background: #7c1fed;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevents double borders */
}
.one-button {
    width: 20%;
    left: 5%;
}
.section1 {
    background-image:url(assets/images/istockphoto-1179823124-612x612.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10%;
    height: 100vh;
}
.section1 h1 {
    font-size:xxx-large;
    font-weight: 900;
}
.section2 {
    margin-top: 5%;
}
.section3 {
    box-shadow: 0px 20px 20px gray;
}
.section3 h2, h3 {
    font-size:x-large;
    font-weight: 900;
}
.h {
    font-weight: 700;
}
.section4 {
    margin-top: 5%;
}

.one {
    float: right;
    width: 50%;
}
.text-block {
    position: absolute;
    margin-top: 20px;
    left: 20px;
    background-color: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 50%;
  }
.stats {
    font-family: 'Inter', sans-serif;
    margin: 40% 5% 1% 50%;
    bottom: 0%;
    right: 5%;
    box-shadow: 3px 6px 3px -3px gray;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
  }
.two {
    float: left;
    width: 50%;
}
.three {
    border-radius: 1%;
    color: #000;
    background-color:white;
    float: left;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-content: space-between;
    align-items: center;
}
.section3head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.three img{
    width: 60%;
    height: 60%;
}
.three1 {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10%;
}
.four1 {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content:;
    align-items: center;
    gap: 10%;
}
.customer-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checked {
    color: orange;
  }
.more {
    margin-left: 80%;
    margin-top: 10%;
}
.fa {
    width: 10%;
    height: 10%;
}
.customer-main img{
    width: 10%;
    height: 10%;
}
.customer {
    font-family: 'Inter', sans-serif;
    border-radius: 1%;
    color: #000;
    margin: 1% 1% 1% 1%;
    box-shadow: 0px 0px 3px 3px gray;
    background-color:white;
    float: left;
    width: 33.33%;
}
.customer p{
    font-size:xx-large;
    font-weight: 900;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.subscribe-section {
    background-color: black;
    margin-top: 15%;
    margin-bottom: 5px;
    color: white;
}
.subscribe {
    font-family: 'Inter', sans-serif;
    background-color: black;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  

.test {
    display: flex;
    flex-direction: row;
    justify-content: ;
    align-items: center;
    height: 35%;
}
.submit {
    font-size: small;
    width: 100%;
    height: 1%;
}
button:hover {
    background: #f05704;
  }
.section6 {
    margin-top: 0.5%;
}

#footer {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.ftr {
    float: left;
    width: 50%;

}
.footer {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    width:50%;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
}
.footer-left {
   margin-left: 5%;
}
.footer-right {
    display: flex;
    flex-direction: row;
}
.footer-right1 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 33]%;
}
.footer-icons {
    width: 5%;
    height: 5%;
}
.footer-logo {
    width: 25%;
    height: 10%;
}
.allrights {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: white;
}
